<%= simple_form_for @message, local: true, html: { multipart: true } do |f| %>
  <% if @message.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>
      <ul>
        <% @message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.hidden_field :recipient_id, value: @message.recipient_id %>
  </div>

  <div>
    <%= f.hidden_field :listing_id %>
  </div>

  <div>
    <%= f.input :body, as: :text %>
  </div>

  <div>
    <%= f.input :image, as: :file %>
  </div>

  <div class="new-message-btn-container">
    <%= f.button :submit, value: "Send Message", class: "message-btn boxBtn"%>
  </div>
<% end %>
