<%= form_with(model: message) do |form| %>
  <% if message.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :sender_id, style: "display: block" %> 
    <%#= collection_select(:message, :sender_id, User.all, :id, :username) %> 
    <%= form.number_field :sender_id %>
  </div>


  <div>
    <%#= form.hidden_field :sender_id, value:"#{current_user.username}" %>
    <%# <%= collection_select(:message, :sender_id, User.all, :id, :username)%> 
  </div>

  <div>
    <%#= form.search_field :recipient_id%>
  </div>

  <div>
    <%= form.label :recipient_id, style: "display: block" %>
    <%#= form.hidden_field :recipient_id, value:"#{message.sender_id}" %>
    <%= form.number_field :recipient_id %>
  </div>

  <div>
    <%= form.label :listing_id, style: "display: block" %> 
    <%= form.number_field :listing_id %> 
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
