<div id="<%= dom_id message %>">
  <p>
    <strong>Sender:</strong>
    <%= message.sender.username %>
  </p>

  <p>
    <strong>Recipient:</strong>
    <%= message.recipient.username %>
  </p>

  <p>
    <strong>Listing:</strong>
    <%= message.listing_id %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= message.body %>
  </p>
  
  <% if message.offer %>
    <p>
      <strong>Offer:</strong>
      <%= link_to message.offer %>
    </p>
  <% end %>
</div>
