<div id="<%= dom_id message %>">
  <% if message.sender == current_user %>
    <p>
      <%= render "users/avatar", user: message.sender, class_name: "sender-avatar" %>
      <strong>Sender:</strong>
      <%= message.sender.username %>
    </p>
  <% elsif message.recipient == current_user %>
    <p>
      <%= render "users/avatar", user: message.sender, class_name: "recipient-avatar" %>
      <strong>Sender:</strong>
      <%= message.sender.username %>
    </p>
  <% end %>

  <p>
    <strong>Message:</strong>
    <%= message.body %>
  </p>

  <% if message.image.attached? %>
    <%= image_tag message.image, class: "message-image" %>
  <% end %>
</div>
