<%# locals: (listing:) %>
<% Rails.logger.info "Current Environment: #{Rails.env}" %>
<div class="card">
  <h5 class="card-title">
    <div class="left-side">
      <% if listing.buyer&.avatar.present? %>
        <%= image_tag listing.buyer.avatar, class:"profile-picture" %>
      <% else %>
        <%= image_tag "Muse-2.png", class: "profile-picture" %>
      <% end %>
      <%= link_to listing.buyer.username, user_path(listing.buyer.username) %>
    </div>
    <% if listing.buyer == current_user %>
      <div class="right-side">
        <%= link_to edit_listing_path(listing) do %>
          <i class="fa-solid fa-ellipsis"></i>
        <% end %>
      </div>
    <% end %>
  </h5>
  <% if listing.image.attached? %>
    <div class="card-img-container">
      <%= image_tag listing.image, class: "card-img-top" %>
    </div>
  <% end %>
  <div class="card-body">
    <p class="card-text">
      <%= listing.caption %>
    </p>
    <% if listing.buyer == current_user %>
      <%= form_with(model: listing) do |form| %>
        <%= form.hidden_field :purchased, value: "true" %>

        <div>
          <%= form.submit "Already purchased this item?", class: "purchasedBtn" %>
        </div>
      <% end %>
    <% end %>

    <% if current_user.seller? %>
      <%= link_to new_listing_message_path(listing_id: listing.id, recipient_id: listing.buyer.id) do %>
        <i class="fa-regular fa-message"></i>
      <% end %>
    <% end %>
  </div>
</div>
