<%= simple_form_for listing do |f| %>
  <% if listing.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
        <% listing.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.input :image, as: :file %>
  </div>

  <div>
    <%= f.input :caption %>
  </div>

  <div>
    <%= f.input :category_id,
              collection: Category.all,
              label_method: :name,
              value_method: :id,
              prompt: "Select a category" %>
  </div>

  <div class="submit-button-container">
    <%= f.button :submit, class: "boxBtn" %>
  </div>
<% end %>
