<div id="<%= dom_id listing %>">
  <p>
    <strong>Image:</strong>
    <%= image_tag listing.image %>
  </p>

  <p>
    <strong>Caption:</strong>
    <%= listing.caption %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= listing.category.name %>
  </p>

  <p>
    <strong>Purchased:</strong>
    <%= listing.purchased %>
  </p>

</div>
