<% stylesheet_link_tag('users')%>
<h1 class="page_header">
  <%if current_user.buyer? %>
    <%= @user.username %>'s listings
  <% else %>
    <%= @user.username%>'s offers
  <% end %>
</h1>

<div class="card-container">
 <%if current_user.buyer? %>
    <% current_user.listings.each do |listing|%>
      <div class="card">
        <h5 class="card-title">
          <%= listing.buyer.image %>
          <%= listing.buyer.username %></h5>
        <%= image_tag listing.image, class: "card-img-top" %>
        <div class="card-body">
          <p class="card-text"><%= listing.caption %></p>
        
          <%if current_user.seller?%>
            <%= link_to new_message_path do %>
              <i class="fa-regular fa-message"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <% if current_user.seller?%>
      <% current_user.sent_offers.each do |offer|%>
        <div class="card">
          <h5 class="card-title">
            <%= offer.seller.image %>
            <%= offer.seller.username %></h5>
          <%= image_tag offer.image, class: "card-img-top" %>
          <div class="card-body">
            <p class="card-text"><%= offer.description %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
