<h1><%= @user.username %>'s profile</h1>
<div class="profile-info">
  <%= image_tag(@user.image, class: "profile-picture") if @user.image.present? %>
  <%= @user.bio %>,
  <%= @user.name%>,
  <%= @user.location %>
</div>

<h1 class="page-header">
  <%if @user.buyer? %>
    <%= @user.username %>'s listings
  <% else %>
    <%= @user.username%>'s offers
  <% end %>
</h1>

<div class="card-container">
  <%if @user.buyer? %>
    <% @user.listings.each do |listing| %>
      <%= render "listings/card", listing: listing %>
    <% end %>
  <% else %>
    <% if @user.seller?%>
      <% @user.sent_offers.each do |offer|%>
        <div class="card">
          <h5 class="card-title">
            <%= offer.seller.image %>
            <%= offer.seller.username %></h5>
          <%= image_tag offer.image, class: "card-img-top" %>
          <div class="card-body">
            <p class="card-text"><%= offer.description %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
