<body class="page">
  <h1 class="profile-header"><%= @user.username %>'s profile</h1>
  <%= render partial: "users/avatar", locals: { user: @user } %>
  <div class="profile-info">
    <%= @user.bio %>,
    <%= @user.name %>,
    <%= @user.location %>
  </div>

  <h2 class="page-header">
    <% if @user.buyer? %>
      <%= @user.username %>'s listings
    <% else %>
      <%= @user.username %>'s offers
    <% end %>
  </h2>

  <div class="card-container">
    <% if @user.buyer? %>
      <% @user.listings.order(created_at: :desc).each do |listing| %>
        <%= render "listings/card", listing: listing %>
      <% end %>
    <% else %>
      <% if @user.seller? %>
        <% @user.sent_offers.order(created_at: :desc).each do |offer| %>
          <%= render "offers/card", offer: offer %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</body>
