<div class="navbar">

  <% if user_signed_in? %>
    <%= link_to home_path, class: "btn" do %>
      <i class="fa-solid fa-house"></i>
      <p class="nav-text">Home</p>
    <% end %>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to messages_path, class: "btn" do %>
      <i class="fa-solid fa-comments"></i>
      <p class="nav-text">Messages</p>
    <% end %>
  <% end %>

  <% if user_signed_in? && current_user.buyer? %>
    <%= link_to new_listing_path, class: "btn" do %>
      <i class="fa-solid fa-plus"></i>
      <p class="nav-text">New Listing</p>
    <% end %>
  <% elsif user_signed_in? && current_user.seller? %>
    <%= link_to new_offer_path, class: "btn" do %>
      <i class="fa-solid fa-plus"></i>
      <p class="nav-text">New Offer</p>
    <% end %>
  <% end %>

  <% if user_signed_in? && current_user.buyer? %>
    <%= link_to user_path(current_user.username), class: "btn" do %>
      <i class="fa-solid fa-bag-shopping"></i>
      <p class="nav-text">Listings</p>
    <% end %>
  <% elsif user_signed_in? && current_user.seller? %>
    <%= link_to user_path(current_user.username), class: "btn" do %>
      <i class="fa-solid fa-bag-shopping"></i>
      <p class="nav-text">Offers</p>
    <% end %>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to edit_user_registration_path, class: "btn" do %>
      <i class="fa-solid fa-user"></i>
      <p class="nav-text">Edit Profile</p>
    <% end %>
  <% end %>
</div>
