<div class="logo">
  <%= image_tag("/assets/Muse-2.png", size: "80x80", alt: "Muse")%>
</div>

<div class="title">
  <h2> Find what you're looking for today</h2>
</div>

<div class="home-video">
  <%= video_tag("/assets/home_video.mp4", loop: :loop, autoplay: :autoplay, muted: :muted, autobuffer: true, width: "100%")%>
</div>

<div class="latest-listings">
   <h1 class="home-sub-header">Discover the most recent listings</h1>
  <% @listings.each do |listing|%>
    <div class="card">
      <h5>
        <% if listing.buyer.image != nil %>
          <%= image_tag listing.buyer.image, class:"profile-picture" %>
        <% end %>
        <%= link_to listing.buyer.username, user_path(listing.buyer.username) %>
      </h5>
      <%= image_tag listing.image, class: "card-img-top" %>
      <div class="card-body">
        <p class="card-text"><%= listing.caption %></p>

        <%if current_user.seller?%>
          <%= link_to new_message_path do %>
            <i class="fa-regular fa-message"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
