<% stylesheet_link_tag('landing_page')%>
<% %>
<script src="color-changer.js"></script>

<div class="top">
  <div class="nav">
    <div class="logo">
      <%# <h2>Muse</h2> %>
      <%= image_tag("/assets/Muse-2.png", size: "80x80", alt: "Muse")%>
    </div>
    <div class="sign-in">
      <%= link_to "sign in", new_user_session_path%>
      <%# <div class="color-changer">
        Color
        <input type="color">
      </div> %>
    </div>
  </div>

  <%# <header>
    <div class="logo">
      <h2>Muse</h2>
    </div>
    <ul class="nav">
      <li><a href="#">about</a></li>
      <li><a href="#">sign in</a></li>
      <li></li>
      <li></li>
    </ul>
  </header> %>

  <%# <div class="main-content">
  </div> %>
  <section class="box">
    <%= video_tag("/assets/7392503-hd_1920_1080_25fps.mp4", loop: :loop, autoplay: :autoplay, muted: :muted, width: "100%")%>
    <%# <%= video_tag("/assets/7317434-hd_1080_1920_25fps.mp4", loop: :loop, autoplay: :autoplay, muted: :muted, width: "100%")%>
    <div class="box-content">
        <h1 class="logo-name">Muse</h1>
      <h3 class="caption">A brand new shopping experience</h3>
      <%= link_to "Get Started", new_user_registration_path, class: "boxBtn" %>
    </div>
  </section>
</div>

<%# <div class="bottom">
  <div class="information-cards">

  </div>
</div> %>
