<%= simple_form_for offer do |f| %>
  <% if offer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
        <% offer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div>
    <% if current_user.seller? %>
     <%= f.hidden_field :seller_id, value: current_user.id %> 
    <% end %>
  </div>

  <div>
    <%= f.input :image, as: :file %>
  </div>

  <div>
    <%= f.input :description %>
  </div>

  <div>
    <%= f.input :listing_id,
              collection: Listing.all,
              label_method: :caption,
              value_method: :id,
              prompt: "Select a listing" %>
  </div>

  <div>
    <%= f.input :price %>
  </div>

  <div>
    <%= f.button :submit, class: "boxBtn"%>
  </div>
<% end %>
