<div id="<%= dom_id offer %>">
  <p>
    <strong>Seller:</strong>
    <%= link_to offer.seller.username %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag offer.image %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= offer.description %>
  </p>

  <p>
    <strong>Listing:</strong>
    <%= offer.listing_id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= offer.price %>
  </p>

</div>
