<div id="<%= dom_id offer %>">
  <p>
    <strong>Seller:</strong>
    <%= offer.seller_id %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= offer.image %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= offer.description %>
  </p>

  <p>
    <strong>Listing:</strong>
    <%= offer.listing_id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= offer.price %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= offer.message_id %>
  </p>

</div>
